.question_list {
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
}
.question_list__item {
  display: inline-block;
  padding: 5px 10px;
  background-color: #008966;
}
.question_list__item:active {
  background-color: #00bc8c;
}
.question_list__item:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.question_list__item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.question_list__link {
  color: #FFF;
  text-decoration: none;
  font-size: 1.3rem;
  cursor: default;
}