.nxt_btn {
  flex-basis: 100%;
  width: 100%;
  border: 1px solid #FFFFFF30;
  background-color: #303030;
  color: #FFF;
  padding: 10px;
  margin: 20px 0;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.nxt_btn:not(:disabled):not(.disabled) {
  background-color: #00bc8c;
  border-color: #007c5d;
}
.nxt_btn:not(:disabled):not(.disabled):hover {
  background-color: #00efb2;
}