.end_message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}
.congrats {
  font-size: 2.5rem;
  border-bottom: 1px solid #808080;
}
.end_message__text {
  font-size: 1.3rem;
  text-align: center;
}
.end_message__btn {
  flex-basis: 100%;
  width: 100%;
  border: 1px solid #FFFFFF30;
  background-color: #303030;
  color: #FFF;
  padding: 10px;
  margin: 20px 0;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.end_message__btn:hover {
  background-color: #00bc8c;
}
.end_message__btn:active {
  background-color: #00efb2;
}